.loading_section{
    width: 100%;
    height: 70vh;
    background-image: url("../../Imgs/img01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex ;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    button{
        cursor: pointer;
        width: 150px;
        height: 50px;
        background-color: plum;
        border-radius: 10px;
        border: none;
    }
    p{
        width: 40%;
        font-size: 20px;
    }
    h2{
        font-size: 40px;
        color: plum;
    }

}