.addpage{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../Imgs/img01.jpg");
    background-position: center;
    background-size: cover;
    Form{
        display: flex;
        flex-direction: column;
    }
}